# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
*.egg-info/

# 本地调试
*.log
output/

# PyInstaller
build/
dist/
*.spec

# 系统
.DS_Store
Thumbs.db
assets/victory_green.mp4
assets/victory_green.f30066.mp4

